<p id="notice"><%= notice %></p>

<p>
  <strong>Difficulty:</strong>
  <%= @quest.difficulty %>
</p>

<p>
  <strong>Items required:</strong>
  <%= @quest.items_required %>
</p>

<p>
  <strong>Quest:</strong>
  <%= @quest.quest %>
</p>

<p>
  <strong>Details:</strong>
  <%= @quest.details %>
</p>

<%= link_to 'Edit', edit_quest_path(@quest) %> |
<%= link_to 'Back', quests_path %>
