<h1>Welcome to Dungeons and Dragons Generator</h1>

<p>Generator (to randomly generate results)
<br>
<br>
Dungeons
<br>
People
<br>
Encounters
<br>
Quests
<br>
Carousing
<br>
Special Items
<br>
Craft Lists
<br>
<br>
<p>Lists (to Add, Edit, and Destroy)</p>
<%= link_to 'Dungeons', dungeons_path %>
<br>
<%= link_to 'People', people_path %>
<br>
<%= link_to 'Encounters', encounters_path %>
<br>
<%= link_to 'Quests', quests_path %>
<br>
<%= link_to 'Carousings', carousings_path %>
<br>
<p>Find me in app/views/welcome/index.html.erb</p>
