<h1>Welcome to Dungeons and Dragons Generator</h1>
<br>
<br>
<p>Hello, this is a Dungeon Master tool for randomly generating different events, npcs, and items
  that your players might encounter along their journey.</p>
<p> Keep in mind that these are based on fifth edition game play.</p>
<p>
<br>
<%= button_tag "Generate Random Person"%>
<br>
<br>
<%= button_tag "Generate Random Dungeon Monsters"%>
<br>
<br>
<%= button_tag "Generate Random Encounters"%>
<br>
<br>
<%= button_tag "Generate Random Quests"%>
<br>
<br>
<%= button_tag "Generate Random Crafting Lists"%>
<br>
<br>
<%= button_tag "Generate Random Special Items and Weapons"%>
<br>
<br>
<%= button_tag "Generate Random Carousing Results"%>
<br>
<br>
<br>
<p>Lists (to Add, Edit, and Destroy)</p>
<%= link_to 'Dungeons', dungeons_path %>
<%= link_to 'People', people_path %>
<%= link_to 'Encounters', encounters_path %>
<%= link_to 'Quests', quests_path %>
<%= link_to 'Carousings', carousings_path %>

