<%= form_for(@dugeon) do |f| %>
  <% if @dugeon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dugeon.errors.count, "error") %> prohibited this dugeon from being saved:</h2>

      <ul>
      <% @dugeon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :monster %><br>
    <%= f.text_field :monster %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :difficulty %><br>
    <%= f.text_field :difficulty %>
  </div>
  <div class="field">
    <%= f.label :special_ability %><br>
    <%= f.text_field :special_ability %>
  </div>
  <div class="field">
    <%= f.label :loot %><br>
    <%= f.text_field :loot %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
