<p id="notice"><%= notice %></p>

<p>
  <strong>Monster:</strong>
  <%= @dungeon.monster %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @dungeon.quantity %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @dungeon.difficulty %>
</p>

<p>
  <strong>Special ability:</strong>
  <%= @dungeon.special_ability %>
</p>

<p>
  <strong>Loot:</strong>
  <%= @dungeon.loot %>
</p>

<%= link_to 'Edit', edit_dungeon_path(@dungeon) %> |
<%= link_to 'Back', dungeons_path %>
